
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.content {
  flex: auto;
  flex-shrink: 0;
  display: flex;
}

.rightContent {
  flex: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
  }
}